<button
  mat-fab
  extended
  color="primary"
  aria-label="language aria label"
  [matMenuTriggerFor]="menu"
  [matTooltip]="'i18n.core.header.button.changeLanguage.tooltip' | translate"
>
  <mat-icon svgIcon="language"></mat-icon>
  <div data-test-id="current-language">{{ currentLanguage.value | translate }}</div>
</button>
<mat-menu #menu="matMenu">
  <button
    *ngFor="let lang of languages"
    [ngClass]="{ active: lang.code === currentLanguage.code }"
    data-test-id="language-menu-item"
    (click)="selectLanguage.emit(lang)"
    mat-menu-item
  >
    {{ lang.value | translate }}
  </button>
</mat-menu>
