<div class="content">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Purpose</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        The purpose of this application is to learn how to design an Angular application with a focus on maintaining
        sustainable development speed and the ease of adding new features in the long run
      </p>
      <p>
        This application present high-level recommendations for a well-designed Angular application architecture based
        on best practices and battle-tested patterns.
      </p>
      <div>- Project structure and settings.</div>
      <div>- Modular design.</div>
      <div>- Proper abstractions between application layers.</div>
      <div>- Smart and Dumb components pattern.</div>
      <div>- Unidirectional data flow.</div>
      <div>- Reactive state management (using own RxJS store).</div>
      <p>Extras:</p>
      <div>- Dynamically load a configuration file before the app starts.</div>
      <div>- Register and use custom SVG icons within the application</div>
      <div>- Implement internationalization using a third-party library.</div>
      <div>- Integrate Infinite Scroll to a view listing.</div>
      <div>- Global Error Handling in the web application</div>
      <div>- Setting Page Titles Natively With The Angular Router</div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        This application is built using Angular and own RxJS store as state management. The design was created using
        Angular Material, and unit tests were conducted with Jasmine and Karma. The application provides the following
        features:
      </p>

      <div>- Multilingual Support (Internationalization in 3 Languages)</div>
      <div>- Apartment Listings Page</div>
      <div>- Filter Apartments by City and Borough, and Load More Data via Scroll</div>
      <div>- Highlighting Favorite Apartments.</div>
      <div>- Apartment detail page.</div>
      <div>- Saving Apartment as Favorites</div>
      <div>- Apartment favourites page</div>
    </mat-card-content>
  </mat-card>
</div>
