@use "../../../../styles/mixins/layout";
@use "../../../../styles/base/breakpoints";
@use "../../../../styles/base/sizes";

:host {
  @include layout.flex();
}

h4 {
  margin: sizes.$small;
}

mat-card-title {
  align-self: center;
  padding: sizes.$medium-plus;
}

mat-card-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: sizes.$small;
}

mat-card-actions {
  justify-content: center;
  padding: sizes.$medium;
}

@media (max-width: map-get(breakpoints.$grid-breakpoints, "md")) {
  mat-card-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
