html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}


.mat-sidenav-container {
  height: calc(100vh - 48px);
  display: flex;
  flex: 1 1 auto;
//  padding-bottom: 16px 16px 0 16px;
}

.mat-nav-list .mat-list-item {
  font-size: 15px;
}

.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

.mat-sidenav-content {
 padding: 25px 40px 16px;
}

.mat-sidenav {
  background-color: #F2F2F2;
  width: 300px;
}

mat-sidenav mat-icon {
  margin-right: 12px;
}


.mdc-text-field {
  min-width: 300px;
  width: 100%;
}

.mat-mdc-text-field-wrapper {
  background-color: white!important;
}

.mat-form-field {
  width: 100%;
}

mat-option {
  margin: 8px 0;
}
@media (max-width:400px) {
  .mdc-text-field {
    min-width: 160px;
  }
}

.hide {
  visibility: hidden!important;
}

