@use "../../../../../styles/mixins/layout";
@use "../../../../../styles/base/sizes";

.container {
  width: 100%;
  height: 100% !important;
  overflow: auto;
  padding: sizes.$medium-plus sizes.$large-plus sizes.$medium;
  @include layout.flex(column, initial, initial, initial);
}

.apartment-preview {
  @include layout.flex(column, initial, initial, initial);
}

.no-results,
.loading-error {
  margin: sizes.$extra-large auto;
}
