.apartment-count {
  margin: 36px 0 28px;
  font-weight: 600;
  font-size: 25px;
  color: #3f51b5;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
}

@media(max-width: 768px){
  .apartment-count {
    font-size: 20px;
  }
}

