:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 8px;
}

mat-card-title {
  align-self: center;
  padding: 24px;
}

mat-card-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
}

mat-card-actions {
  justify-content: center;
  padding: 18px;
}


@media(max-width: 768px){
  mat-card-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
