mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title {
  margin: 8px 0 12px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}



