html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  word-wrap: break-word;
}

* {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.hide {
  visibility: hidden !important;
}
