$background: #f2f2f2;

$white-color: #ffffff;
$form-field-background: #ffffff;

$hint-link-color: rgba(0, 0, 0, 0.54);
$font-link-color: #000000;

$nav-active-background: #e0e0e0;
$nav-hover-background: #f5f5f5;

$line-color: #cccccc;
$dialog-line-color: #e5e5e5;
$line-hover-color: #939191;

$primary-text-color: #3f51b5;
$box-shadow-color: #424242;
